html {
    box-sizing: border-box;
    margin: 0 0;
    overflow-x: hidden;
    scroll-behavior: smooth;
    background: linear-gradient(45deg, rgba(250,255,168,1) 0%, rgb(255, 160, 255) 50%, rgb(121, 255, 166) 100%)
}

body {
    color: #313131;
}


*, *::before, *::after {
    box-sizing: inherit;
}

img {
    max-width: 100%;
}

ul {
    margin: 0px;
    padding: 0px;
}

li {
    list-style-type: none;
}

p {
    font-size: 20px;
    margin-bottom: 10px;
}

a {
    color: inherit;
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 0px;
    margin-bottom: 0px;
}

:root {
	--orange: #cc9933;
	--gray: #666;
	--white: #fff;
}

@keyframes rotateZ {
    from {
        transform: rotateZ(0deg);
    }
    to {
        transform: rotateZ(360deg);
    }
}

@keyframes fade {
    from { opacity: 0;}
    to { opacity: 1;}
}
.container {
    width: 90vw;
    border-radius: 30px;
    margin-left: auto;
    margin-right: auto;
}

section {
    margin-bottom: 50px;
}

 /* модальные окна */

dialog {
    display: none;
    opacity: 0;
    translate: 0 25vh;
    transition-property: overlay display opacity;
    transition-duration: 1s;
    transition-behavior: allow-discrete;
}

dialog[open] {
    display: block;
    opacity: 1;
    translate: 0 0;

    @starting-style {
        opacity: 0;
        translate: 0 -25vh;
    }
}

dialog::backdrop {
    opacity: 0;
    transition-property: overlay display opacity;
    transition-duration: 1s;
    transition-behavior: allow-discrete;
    background-image: linear-gradient(45deg, rgb(0, 247, 255), rgb(253, 180, 23));
}

dialog[open]::backdrop {
    opacity: 0.8;
}

@starting-style {
    dialog[open]::backdrop {
        opacity: 0;
    }
}

/* анимации на скролл */

@keyframes fade-scale {
    to {scale: 1; opacity: 1;}
}

@keyframes fade-out {
    from { opacity: 1;}
    to { opacity: 0;}
}

@keyframes slide-in {
    to {translate: 0px; opacity: 1;}
}

 @media (prefers-reduced-motion: no-preference) {  /* обёртка для людей, которых укачивает от обилия анимаций */
    ul > li {
        scale: .6; opacity: 0;
        animation: fade-scale linear forwards; /* forwards останавливает анимацию на 100%, что бы текс не исчезал */
        animation-timeline: view();
        animation-range: entry 5vh;
    }
}

@media (prefers-reduced-motion: no-preference) {
    li > p {
        opacity: 0;
        translate: -350px;
        animation: slide-in linear forwards;
        animation-timeline: view();
        animation-range: entry cover 40vh;
    }
}

@supports (animation-timeline: view()) {  /*Отключает анимацию, если браузер её не поддерживает, так как заканчивается на opacity:0*/
    .fade-out {
        animation: fade-out linear;
        animation-timeline: view();
        animation-range: exit -5vh;
    }
}

/*--------Header--------*/

.rotate__item {
    animation: rotateZ 30s linear infinite;
}

.header {
    padding: 10px 0px;
    margin-bottom: 30px;
    height: 60px;
    display: flex;
    align-items: center;
    background-color: #dad6d6;
    border-radius: 0px 0px 30px 30px;
}

.header-logo__container {
    padding: 0px 20px;
}

.logo__img {
    width: 50px;
    height: 50px;
}

.navigation {
    padding: 0px 20px 0px 20px;
    flex: 1 0;
}

.navigation__list {
    display: flex;
    flex: 1 0;
}

.navigation__item { /* флекс позволяет растянуть ссылку-текст на всю ширину/высоту родителя*/
    display: flex;
    font-size: 18px;
    line-height: 60px;
    text-align: center;
    white-space: nowrap;
    border-radius: 0px 0px 30px 30px;
    flex: 1 0;
}

.navigation__item:hover {
    background-color: #bbb9b9;
    transition: all 1s ease-in-out;
}

.navigation__text {
    border-radius: 0px 0px 30px 30px;
    flex: 1 0;
}

 .navigation__text:not(.test):hover { /* исключение с ховером, работает только если выбирать через доп. класс */
    transform: translateY(8px);
    background-color: #bbb9b9;
    transition: all 1s ease-in-out;
}

.navigation__item:nth-child(1) {
    text-decoration: none;
    background-image: linear-gradient(90deg, red, blue);
    background-size: 0% 3px;
    background-repeat: no-repeat;
    background-position: left 2.5em;
    padding-block: 0em;
}

.navigation__item:nth-child(1):hover {
    background-size: 100% 3px;
    transition: background-size 1.5s;
}

.navigation__search {
    margin-right: 20px;
    display: flex;
    flex-wrap: nowrap;
}
.search__button {}
.search__icon {}
.search__input {}

.main__title {
    width: 90vw;
    margin-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
    font-size: 50px;
}
.section-one {}
.section-one__container {
    
}
.section-one__text-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    background-color: #dad6d6;
    border-radius: 30px;
}

.text-list__item {
    padding: 10px;
    font-size: 40px;
    flex: 1 0 30%;
}

.text-list__item:nth-child(1) {
    background-color: #313131;
    border-radius: 30px 0px 0px 0px;
    color: #fff;
    text-shadow: 
    1px 1px 0px red,
    2px 2px 0px blue,
    3px 3px 0px purple
}

.text-list__item_underline { /* мажорное подчёркивание на текс, по всей длинне работает, если текст обёрнут в ссылку */
    text-decoration: none;
    background-image: linear-gradient(90deg, red, blue);
    background-size: 0% 3px;
    background-repeat: no-repeat;
    background-position: left 1.5em;
    padding-block: .25em;
}

.text-list__item_underline:hover {
    background-size: 100% 3px;
    transition: background-size 2s linear;
}

.text-list__item:nth-child(3) {
    font-weight: 900;
    line-height: 0.8;
    text-transform: uppercase;
    background-image: url(../img/woods.jpg);
    background-size: cover;
    background-clip: text;
    -webkit-background-clip: text;
    color: rgb(0 0 0 / .3);
    /* color: transparent; */
    /* -webkit-text-fill-color: transparent; */
}

.text-list__item:nth-child(4) {
    background: linear-gradient(90deg, red, blue);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    opacity: 0;
     animation: fade-scale 1s ease-in 1s 1 forwards; 
}

.text__rainbow {
    user-select: none;
}

.text-list__item .rainbow-char {
    font-weight: 300;
    transition: 0.15s ease-in-out;
}

.text-list__item .rainbow-char:hover {
    font-size: 50px;
    font-weight: 800;
    color: #79c314;
    /* transition: 0.5s; */
}

.rainbow-char:has(+ .rainbow-char:hover) {
    font-size: 48px;
    font-weight: 700;
    color: #faeb36;
}

.rainbow-char:has(+ .rainbow-char + .rainbow-char:hover) {
    font-size: 45px;
    font-weight: 600;
    color: #ffa500;
}

.rainbow-char:has(+ .rainbow-char + .rainbow-char + .rainbow-char:hover) {
    font-size: 42px;
    font-weight: 500;
    color: #e81416;
}

.rainbow-char:hover + .rainbow-char {
    font-size: 48px;
    font-weight: 700;
    color: #487de7;
}

.rainbow-char:hover + .rainbow-char + .rainbow-char {
    font-size: 45px;
    font-weight: 600;
    color: #4b369d;
}

.rainbow-char:hover + .rainbow-char + .rainbow-char + .rainbow-char {
    font-size: 42px;
    font-weight: 500;
    color: #70369d;
}

.section-two {
}

.section-two__container-glass {
    background-image: url(../img/bigwatch2.jpg);
    background-size: cover;
    border-radius: 30px;
    margin-bottom: 50px;
}

.glass-list {
    display: flex;
    gap: 50px;
    flex-wrap: wrap;
}

.glass-list__img {
    width: 200px;
    height: 200px;
}

 .glass-list__item { /* через background-img можно сделать градиентное стекло */
    padding: 20px 0px 20px 30px;
    flex: 1 0 28%;
    background-color: rgb(255, 255, 255, 0.25);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border-radius: 30px;
}

.glass-list__text {
    color: black;
    padding: 20px 20px;
}

.section-two__container-overlay {
    background-image: url(../img/bigwatch.jpeg);
    background-size: cover;
    border-radius: 0px;
    min-block-size: 50vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.overlay {
    border-image: fill 1 linear-gradient(45deg, rgb(255, 0, 0, 0.5), rgb(0, 0, 255, 0.5));
}

.overlay__title {
    padding: 0px 50px;
    font-size: 40px;
    color: white;
}

.overlay__text {
    padding: 0px 50px;
    font-size: 24px;
    color: white;
}

.section-three {}

.modal__body {
    max-width: 50vw;
}

.modal__title, .modal__close {
    margin-bottom: 15px;
}

.modal__form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.section-four {}
.section-five {}
.section-six {}
.footer {}
.footer__container {}
/*--------Footer--------*/